docs/n8n-parkash-sweets-order-workflow.json
{
  "name": "Parkash Sweets — Voice Order to GHL",
  "nodes": [
    {
      "id": "sticky-01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80],
      "parameters": {
        "width": 620,
        "height": 180,
        "content": "## Parkash Sweets — Voice Order to GHL\n\nTriggered by: `place_order` in the voice agent (`server/tools.py`)\nWebhook path: `/webhook/parkash-sweets-order`\n\n**Flow:** Webhook → Format Data → Upsert GHL Contact → IF success → Create Note + Send SMS\n\n**Credentials required:** GHL PIT token is hardcoded. Replace `YOUR_GHL_PIT_TOKEN` with the real token if rotating.\n**Location ID:** `uc3GK4buCjDTCkedqWyy` (Parkash Sweets)"
      }
    },
    {
      "id": "webhook-01",
      "name": "Voice Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "4a3f8c2d-1b5e-4f7a-9c8d-0e2f1a3b5c7e",
      "parameters": {
        "httpMethod": "POST",
        "path": "parkash-sweets-order",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "code-01",
      "name": "Format Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ─── Helpers ────────────────────────────────────────────────\nfunction normalizePhone(raw) {\n  if (!raw) return '';\n  const d = String(raw).replace(/\\D/g, '');\n  if (d.length === 10) return '+1' + d;\n  if (d.length === 11 && d[0] === '1') return '+' + d;\n  if (d.length > 6) return '+' + d;\n  return '+1' + d;\n}\n\nfunction parseName(name) {\n  const parts = (name || 'Customer').trim().split(/\\s+/);\n  return { first: parts[0] || 'Customer', last: parts.slice(1).join(' ') || '' };\n}\n\nfunction itemsToNote(items) {\n  if (!Array.isArray(items) || !items.length) return '  (no items recorded)';\n  return items\n    .map(i => '  ' + (i.quantity || 1) + 'x ' + i.name + ' \\u2014 $' + parseFloat(i.price || 0).toFixed(2))\n    .join('\\n');\n}\n\nfunction itemsForSms(items) {\n  if (!Array.isArray(items) || !items.length) return '* (no items)';\n  return items\n    .map(i => '* ' + i.name + ' x' + (i.quantity || 1) + ' - $' + parseFloat(i.price || 0).toFixed(2))\n    .join('\\n');\n}\n\nfunction fmtTime(iso) {\n  try {\n    return new Date(iso).toLocaleString('en-CA', {\n      timeZone: 'America/Toronto',\n      dateStyle: 'medium',\n      timeStyle: 'short'\n    });\n  } catch (e) {\n    return String(iso || new Date().toISOString());\n  }\n}\n\nfunction fmtTimeShort(iso) {\n  try {\n    return new Date(iso || new Date()).toLocaleString('en-CA', {\n      timeZone: 'America/Toronto',\n      hour: 'numeric',\n      minute: '2-digit',\n      hour12: true\n    });\n  } catch (e) {\n    return '';\n  }\n}\n\nfunction calcReadySlots(iso) {\n  try {\n    const base = new Date(iso || new Date());\n    return [30, 60, 90].map(offset => {\n      const t = new Date(base.getTime() + offset * 60000);\n      return t.toLocaleString('en-CA', {\n        timeZone: 'America/Toronto',\n        hour: 'numeric',\n        minute: '2-digit',\n        hour12: true\n      });\n    }).join('  |  ');\n  } catch (e) {\n    return '';\n  }\n}\n\nfunction fmtInstructions(raw) {\n  if (!raw || raw === 'None') return 'None';\n  // capitalise first letter, replace key-value separators\n  return raw.trim()\n    .replace(/^(spice|spicy|heat)\\s*:\\s*/i, 'Spice Level: ')\n    .replace(/^(allergy|allergies)\\s*:\\s*/i, 'Allergy: ')\n    .replace(/^(note|notes|special)\\s*:\\s*/i, '')\n    .replace(/^./, c => c.toUpperCase());\n}\n\n// ─── Parse incoming payload ──────────────────────────────────\n// n8n wraps the body under .body when responseMode is onReceived\nconst b = $input.first().json.body ?? $input.first().json;\n\nconst phone      = normalizePhone(b.phone_number);\nconst name       = parseName(b.customer_name);\nconst oType      = b.order_type || 'pickup';\nconst oLabel     = oType.replace(/_/g, '-').toUpperCase();\nconst subtotal   = parseFloat(b.total_amount || 0);\nconst gst        = Math.round(subtotal * 0.05 * 100) / 100;\nconst grandTotal = Math.round((subtotal + gst) * 100) / 100;\nconst orderId    = b.order_id || 'PS-UNKNOWN';\nconst waitTime   = b.wait_time || '20-30 minutes';\nconst items      = b.items || [];\nconst instructions = fmtInstructions(b.special_instructions);\nconst readySlots = calcReadySlots(b.timestamp);\n\n// ─── Build GHL contact note ──────────────────────────────────\nconst sep = '\\u2500'.repeat(34);\nlet noteLines = [\n  '\\uD83D\\uDCDE VOICE ORDER \\u2014 ' + orderId,\n  sep,\n  'Date:     ' + fmtTime(b.timestamp),\n  'Type:     ' + oLabel,\n  '',\n  'ITEMS:',\n  itemsToNote(items),\n  '',\n  'SUBTOTAL: $' + subtotal.toFixed(2) + ' CAD',\n  'GST (5%): $' + gst.toFixed(2),\n  'TOTAL:    $' + grandTotal.toFixed(2) + ' CAD',\n  'WAIT:     ' + waitTime\n];\nif (b.delivery_address)     noteLines.push('', 'DELIVER TO: ' + b.delivery_address);\nif (b.special_instructions) noteLines.push('', 'SPECIAL: '   + b.special_instructions);\nnoteLines.push(sep, 'via Parkash Sweets Voice Agent (Sierra)');\n\n// ─── Build SMS notification ───────────────────────────────────\nconst orderTypeFriendly = oType === 'dine_in' ? 'dine-in' : oType;\nconst fullName = (name.first + (name.last ? ' ' + name.last : '')).trim();\nconst timeStr  = fmtTimeShort(b.timestamp);\n\nconst smsText =\n  '\\uD83D\\uDEA8 NEW ORDER \\uD83D\\uDEA8\\n' +\n  'Restaurant: Parkash Sweets\\n' +\n  'Address: PARKASH_SWEETS_ADDRESS\\n\\n' +\n  'Name: ' + fullName + '\\n' +\n  'Phone: ' + phone + '\\n' +\n  'Type: ' + orderTypeFriendly + '\\n\\n' +\n  'Order Id: ' + orderId + '\\n\\n' +\n  'ITEMS:\\n' +\n  itemsForSms(items) + '\\n\\n' +\n  'Subtotal: $' + subtotal.toFixed(2) + '\\n' +\n  'GST (5%): $' + gst.toFixed(2) + '\\n' +\n  'TOTAL: $' + grandTotal.toFixed(2) + '\\n\\n' +\n  'Instructions: ' + instructions + '\\n\\n' +\n  'Time: ' + timeStr + '\\n' +\n  'Ready By: ' + readySlots + '\\n\\n' +\n  'Thank you! \\uD83D\\uDE4F';\n\n// ─── Contact body for GHL upsert ─────────────────────────────\nconst contactBody = {\n  locationId: 'uc3GK4buCjDTCkedqWyy',\n  firstName:  name.first,\n  lastName:   name.last,\n  phone:      phone,\n  source:     'Voice Agent \\u2014 Parkash Sweets',\n  tags:       ['parkash-customer', oType.replace(/_/g, '-')]\n};\n\nreturn [{\n  json: {\n    orderId,\n    phone,\n    firstName:   name.first,\n    orderType:   oType,\n    noteText:    noteLines.join('\\n'),\n    smsText,\n    contactBody\n  }\n}];"
      }
    },
    {
      "id": "http-upsert-01",
      "name": "GHL Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 320],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-f8125d40-19cf-41ed-ab7b-2506b8f767a0"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Format Order Data').item.json.contactBody) }}",
        "options": {}
      }
    },
    {
      "id": "if-upsert-01",
      "name": "Upsert Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 320],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-contact-id",
              "leftValue": "={{ $json.contact && $json.contact.id ? $json.contact.id : '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-note-01",
      "name": "GHL Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://services.leadconnectorhq.com/contacts/' + $('GHL Upsert Contact').item.json.contact.id + '/notes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-f8125d40-19cf-41ed-ab7b-2506b8f767a0"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Format Order Data').item.json.noteText }) }}",
        "options": {}
      }
    },
    {
      "id": "http-sms-01",
      "name": "GHL Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-f8125d40-19cf-41ed-ab7b-2506b8f767a0"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'SMS', contactId: $('GHL Upsert Contact').item.json.contact.id, message: $('Format Order Data').item.json.smsText }) }}",
        "options": {}
      }
    },
    {
      "id": "set-success-01",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 220],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "orderId",
              "value": "={{ $('Format Order Data').item.json.orderId }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "contactId",
              "value": "={{ $('GHL Upsert Contact').item.json.contact.id }}",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "message",
              "value": "Order synced to GHL. Contact upserted, note created, SMS sent.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-error-01",
      "name": "Log GHL Sync Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 440],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "orderId",
              "value": "={{ $('Format Order Data').item.json.orderId }}",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "ghlResponse",
              "value": "={{ JSON.stringify($('GHL Upsert Contact').item.json) }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "message",
              "value": "GHL contact upsert failed. Order was confirmed to customer but not synced to CRM. Investigate GHL response.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Voice Agent Webhook": {
      "main": [
        [
          {
            "node": "Format Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Data": {
      "main": [
        [
          {
            "node": "GHL Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Upsert Contact": {
      "main": [
        [
          {
            "node": "Upsert Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Successful?": {
      "main": [
        [
          {
            "node": "GHL Create Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log GHL Sync Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Create Note": {
      "main": [
        [
          {
            "node": "GHL Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Send SMS": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "parkash-sweets" },
    { "name": "voice-agent" }
  ]
}
